.roadmap {
  position: relative;
  padding: 1px 0 0 0;

  // background-color: #4e0007;
  height: 7500px;
  &__background {
    padding: 200px 0 200px 0;
    background: url(./../../assets/Group24.svg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
  }
  &__container {
    margin: 0 auto;
    max-width: 1640px;
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 125px;
    font-size: 96px;
    color: rgba(255, 228, 231, 1);
  }

  &__point1 {
    position: relative;
    margin-top: 150px;
    max-width: 1640px;
    height: 575px;
    border: 2px dashed rgba(255, 219, 223, 1);
    border-style: dashed none dashed none;
    display: flex;

    align-items: center;
    &-number {
      top: -40px;
      left: 85%;
      position: absolute;
      z-index: 1;
      width: 85px;
      height: 85px;
      border: 4px solid #ff8993;
      background-color: #4e0007;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #ff8993;
      rotate: 2deg;
    }
    &-container {
      width: 1540px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-images {
      position: relative;
    }
    &-bg {
      animation-name: moveup1;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      position: relative;
    }

    &-img {
      animation-name: moveup;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      left: 0;
      top: 70px;
      position: absolute;
    }
    &-text {
      max-width: 1100px;
      font-size: 128px;
      color: rgba(255, 219, 223, 1);
      text-transform: uppercase;
      rotate: 1.95deg;
    }
  }
  &__point2 {
    position: relative;
    margin-top: 110px;
    max-width: 1640px;
    height: 575px;
    border: 2px dashed rgba(255, 219, 223, 1);
    border-style: dashed none dashed none;
    display: flex;

    align-items: center;
    &-number {
      top: -40px;
      left: 35%;
      position: absolute;
      z-index: 1;
      width: 85px;
      height: 85px;
      border: 4px solid #ff8993;
      background-color: #4e0007;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #ff8993;
      rotate: -8deg;
    }
    &-container {
      width: 1540px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-images {
      position: relative;
    }
    &-bg {
      animation-name: moveup1;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      position: relative;
    }

    &-img {
      animation-name: moveup;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      top: -100px;
      left: -10px;
      position: absolute;
    }
    &-text {
      max-width: 1100px;
      font-size: 128px;
      color: rgba(255, 219, 223, 1);
      text-transform: uppercase;
      rotate: -1.4deg;
    }
  }
  &__point3 {
    position: relative;
    margin-top: 110px;
    max-width: 1640px;
    height: 575px;
    border: 2px dashed rgba(255, 219, 223, 1);
    border-style: dashed none dashed none;
    display: flex;

    align-items: center;
    &-number {
      top: 10px;
      left: 25%;
      position: absolute;
      z-index: 1;
      width: 85px;
      height: 85px;
      border: 4px solid #ff8993;
      background-color: #4e0007;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #ff8993;
      rotate: 2deg;
    }
    &-container {
      width: 1540px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-images {
      position: relative;
    }
    &-bg {
      animation-name: moveup1;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      position: relative;
    }

    &-img {
      animation-name: moveup;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      left: 90px;
      top: 0px;
      position: absolute;
    }
    &-text {
      max-width: 1100px;
      font-size: 128px;
      color: rgba(255, 219, 223, 1);
      text-transform: uppercase;
      rotate: 1.95deg;
    }
  }
  &__point4 {
    position: relative;
    margin-top: 110px;
    max-width: 1640px;
    height: 575px;
    border: 2px dashed rgba(255, 219, 223, 1);
    border-style: dashed none dashed none;
    display: flex;

    align-items: center;
    &-number {
      top: -60px;
      left: 70%;
      position: absolute;
      z-index: 1;
      width: 85px;
      height: 85px;
      border: 4px solid #ff8993;
      background-color: #4e0007;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #ff8993;
      rotate: 9.5deg;
    }
    &-container {
      width: 1540px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-images {
      position: relative;
    }
    &-bg {
      animation-name: moveup1;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      position: relative;
    }

    &-img {
      animation-name: moveup;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      left: -30px;
      top: 0px;
      position: absolute;
    }
    &-text {
      max-width: 1100px;
      font-size: 128px;
      color: rgba(255, 219, 223, 1);
      text-transform: uppercase;
      rotate: -1.4deg;
    }
  }
  &__point5 {
    position: relative;
    margin-top: 110px;
    max-width: 1640px;
    height: 575px;
    border: 2px dashed rgba(255, 219, 223, 1);
    border-style: dashed none dashed none;
    display: flex;

    align-items: center;
    &-number {
      top: -40px;
      left: 85%;
      position: absolute;
      z-index: 1;
      width: 85px;
      height: 85px;
      border: 4px solid #ff8993;
      background-color: #4e0007;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #ff8993;
      rotate: 2deg;
    }
    &-container {
      width: 1540px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-images {
      position: relative;
    }
    &-bg {
      animation-name: moveup1;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      position: relative;
    }

    &-img {
      animation-name: moveup;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      left: 0;
      top: -30px;
      position: absolute;
    }
    &-text {
      max-width: 1100px;
      font-size: 128px;
      color: rgba(255, 219, 223, 1);
      text-transform: uppercase;
      rotate: 1.95deg;
    }
  }
  &__point6 {
    position: relative;
    margin-top: 110px;
    max-width: 1640px;
    height: 575px;
    border: 2px dashed rgba(255, 219, 223, 1);
    border-style: dashed none dashed none;
    display: flex;

    align-items: center;
    &-number {
      top: -40px;
      left: 40%;
      position: absolute;
      z-index: 1;
      width: 85px;
      height: 85px;
      border: 4px solid #ff8993;
      background-color: #4e0007;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #ff8993;
      rotate: -8deg;
    }
    &-container {
      width: 1540px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-images {
      position: relative;
    }
    &-bg {
      animation-name: moveup1;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      position: relative;
    }

    &-img {
      animation-name: moveup;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      left: -130px;
      top: -30px;
      position: absolute;
    }
    &-text {
      max-width: 1100px;
      font-size: 128px;
      color: rgba(255, 219, 223, 1);
      text-transform: uppercase;
      rotate: -1.4deg;
    }
  }
  &__point7 {
    position: relative;
    margin-top: 110px;
    max-width: 1640px;
    height: 575px;
    border: 2px dashed rgba(255, 219, 223, 1);
    border-style: dashed none dashed none;
    display: flex;

    align-items: center;
    &-number {
      top: -10px;
      left: 80%;
      position: absolute;
      z-index: 1;
      width: 85px;
      height: 85px;
      border: 4px solid #ff8993;
      background-color: #4e0007;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #ff8993;
      rotate: 15deg;
    }
    &-container {
      width: 1540px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-images {
      position: relative;
    }
    &-bg {
      animation-name: moveup1;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      position: relative;
    }

    &-img {
      animation-name: moveup;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      left: 0px;
      top: 60px;
      position: absolute;
    }
    &-text {
      max-width: 1100px;
      font-size: 128px;
      color: rgba(255, 219, 223, 1);
      text-transform: uppercase;
      rotate: 1.95deg;
    }
  }
}
