* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Dela Gothic One", sans-serif;
  color: rgba(78, 0, 7, 1);
}

body {
  background: rgba(255, 228, 231, 1);
  background-image: url(./../assets/BG.svg);
}
